* {
  color: aliceblue;
}

hr {
  width: 95%;
  border-color: #5f9ea0;
}

h1{
  font-size: 3rem;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 95px;
}

.titleOverride {
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

#C {
  display: block;
  float: left;
  margin-right: 0 0 0 1em;
  padding: 0;
  animation: 3s ease-in-out infinite nameAni;
}

#a {
  display: block;
  float: left;
  margin-right: 0 0 0 1em;
  padding: 0;
  animation: 3s ease-in-out 0.4s infinite nameAni;
}

#r {
  display: block;
  float: left;
  margin-right: 0 0 0 1em;
  padding: 0;
  animation: 3s ease-in-out 0.8s infinite nameAni;
}

#s {
  display: block;
  float: left;
  margin-right: 0 0 0 1em;
  padding: 0;
  animation: 3s ease-in-out 1.2s infinite nameAni;
}

#o {
  display: block;
  float: left;
  margin-right: 0 0 0 1em;
  padding: 0;
  animation: 3s ease-in-out 1.6s infinite nameAni;
}

#n {
  display: block;
  float: left;
  margin-right: 0 0 0 1em;
  padding: 0;
  animation: 3s ease-in-out 2s infinite nameAni;
}

#videoBackground {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#content {
  position: relative;
  top: 0;
  width: 100%;
  padding: 0;
}

#bodyContent {
  /* background-color: rgba(70, 130, 180, 0.4); */
  margin-top: 1.5rem;
  border-radius: 30px;
  height: auto;
}


 #bio p{
   text-align: left;
 }

/* Keyframes */
@keyframes nameAni {
  00% {
    transform: translateY(0em);
    color: white;
  }

  60% {
    transform: translateY(-0.6em);
    opacity: .2;
  }

  100% {
    transform: translateY(0em);
    color: white;
  }

}