@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* background: linear-gradient(45deg, #6b73ff, #000dff); */
/* ================== Common Styles ================== */
img{
    width: 100%;
    display: flex;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181b;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 2rem 5rem 2rem;
}
/* ================== Nav Styles ================== */
nav{
    max-width: 1200px; 
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.nav-logo{
    max-width: 90px;
    border-radius: 100%;
    overflow: hidden;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.link a{
    color: #fff;
    padding-bottom: .75rem;
    position: relative;
}
.link a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #1d4ed8;
    transition: all .35s ease;
}
.link a:hover::after{
    width: 100%;
    box-shadow: 0 0 5px #1d4ed8;
}
.btn{
    padding: 1rem 2rem; 
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 7px;
    transition: all .35s ease;
}
.btn:hover{
    background-color: #fff;
    color: #1d4ed8;
    box-shadow: 0 0 10px #1d4ed8;
}
/* ================== Heading Styles ================== */
header{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}
.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    left: 100px;
    z-index: -10;
}
header .content h4{
    color: #cfcfcf;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
header .content h1{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ccc;
}
header .content h1 span:hover{
    -webkit-text-stroke: 2px #fff;
}
header .content p{
    color: #ccc;
    margin-bottom: 2rem;
}
header .image{
    position: relative;
}
header .image::before{
    background: linear-gradient(#1d4ed8 50%, #4b90ff 60%);
    -webkit-background-clip: text;
    color: transparent;
    content: "O";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* line-height: 20rem; this one you can add but delete the Y from the translate and make the top 0 */
    font-size: 33rem;
    font-weight: 400;
    opacity: .4;
    z-index: -10;
}
header .image img{
    max-width: 600px; 
    margin: auto;
}
/* ================== Features Styles ================== */
section .header{
    color: #fff;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
}
section .header::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 2px;
    width: 0;
    background-color: #1d4ed8;
    transition: all .3s ease;
}
section .header:hover::after{
    width: 90%;
}
section .features{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
}
section .features .card,
section .prices .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all .35s ease;    
}
section .features .card{
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}
section .features .card:hover{
    border-color: #ccc;
    transform: scale(1.04);
}
section .card span{
    color: #ccc;
    width: 50px;
    text-align: center;
    background-color: #1d4ed8;
    border-radius: 7px;
    font-size: 1.75rem;
    padding: 2px 9px;
    margin-bottom: 1rem;
}
section .card h4{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
section .card p{
    color: #ccc;
    margin-bottom: 1rem;
}
section .card a{
    color: #fff;
    transition: all .3s ease;
}
section .card a i{
    transition: all .2s ease;
}
section .card a:hover{
    color: #1d4ed8;
}
section .card a:hover i{
    transform: translate(7px);
}
/* ================== projects Styles ================== */
section .projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
}
section .projects .card{
    position: relative;
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all .35s ease;
    overflow: hidden;
}
section .projects .card .content {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    padding: 1rem;
    background-color: #5151704d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(-70%);
    transition: all 0.4s ease-in;
}
section .projects .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    backdrop-filter: blur(10px); 
    background-color: #5151704d;
    opacity: 0;
    transition: all 0.4s ease-in;
}
section .projects .card:hover .content {
    opacity: 1;
    transform: translateY(0);
}
section .projects .card:hover::before {
    opacity: 1;
}
section .projects .card .thumbnail{
    width: 100%; 
    height: 300px;
    object-fit: cover; 
    border-radius: 15px;
    margin-bottom: 1.5rem;
}
section .projects .card p{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden
}
section .projects .card h2{
    text-align: center;
    font-size: 1rem;
    color: #fff;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
section .projects .card h2::before, section .projects .card h2::after{
    font-size: 1.1rem;
    transition: all .4s ease-out;
    opacity: 0;
}
section .projects .card h2::before{
    content: '< \\ ';
}
section .projects .card h2::after{
    content: ' >';
}
section .projects .card h2:hover::before, section .projects .card h2:hover::after{
    opacity: 1;
    color: #ffae00;
}
section .projects .card a{
    color: #Fff;
    font-size: 1.2rem;
    padding: 1rem;
}
section .projects .card a:hover{
    color: #1d4ed8;
}
section .projects .card a i{
    margin-left: 10px;
}
section .projects .card a:hover i{
    transform: translate(0);
    transition: .1s linear;
}
.projects-section .more {
    margin-top: 50px;
    color: #1d4ed8;
    background-color: #ccc;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 7px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.3s ease; 
}
.projects-section .more:hover {
    color: #ccc; 
    background-color: #1d4ed8; 
    border: 1px solid #ccc;
}
.projects-section{
    position: relative;
}
.projects-section > .bonus-blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    left: 200px;
    z-index: -10;
}
.imageRound{
    border: 2px solid transparent;
    border-radius: 15px;
}
/* ================== Pricing Styles ================== */
/*.pricing-section{margin-top: 300px; }*/
section .prices{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
}
.sub-header{
    max-width: 600px;
    text-align: center;
    font-size: 1.23rem;
    font-weight: 400;
    color: #fff;
    margin: 0 auto 2.2rem auto;
}

.pricing-section{
    position: relative;
}
.pricing-section > .another-blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    right: 200px;
    z-index: -10;
}

section .prices .card{
    padding: 2rem;
    position: relative;
}
section .prices .card:hover{
    border-color: #ccc;
    background-color: #323232;
    transform: scale(1.03);
}
section .prices .card h3{
    color: #fff;
    font-size: 1.6rem;
    border-bottom: 2px dashed #ccc;
}
section .prices .card h3 .changeable{
    font-size: .7rem;
    font-weight: 300;
    color: #b0b0b0;
    background: none;
    margin-left: 3rem;
}
section .prices .card h3 i{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #1dd855;
}
section .card .plan-description{
    font-size: 1.2rem;
    margin-top: 1.2rem;
}
section .price-btn{
    margin-top: 3rem;
    padding: 1rem 2rem; 
    font-size: 1rem;
    width: 100%;
    color: #fff;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 7px;
    transition: all .5s ease;
}
section .price-btn:hover{
    background-color: #1d4ed8;
    border: none;
}
/* ================== Footer Styles ================== */
footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}
footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
    border-radius: 50%;
    overflow: hidden;
}
footer .column p{
    color: #ccc;
    margin-bottom: 2rem;
}
footer .column .socials a{
    color: #fff;
    margin-right: 2rem;
    font-size: 2rem;
    transition: all .3s ease-out;
}
footer .column .socials a:nth-child(1):hover{
    color: #1877f2;
}
footer .column .socials a:nth-child(2):hover{
    color: #f43f90 ;
}
footer .column .socials a:nth-child(3):hover{
    color: #08a0e9;
}
footer .column h4{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}   
footer .column > a{
    color: #b0b0b0;
    display: block;
    margin-bottom: 1rem;
    transition: all .4s ease-in-out;
}
footer .column > a:hover{
    color: #fff;
    transform: scale(1.01) translate(.5rem);
}
/* ================== Copyright Styles ================== */
.copyright{
    max-width: 1200px;
    color: #CCC;
    margin: auto;
    text-align: center;
    font-style: italic;
    font-size: .8rem;
    padding: 1.5rem;
}
/* ================== Media Queries Styles ================== */
@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .featuring .features,
    .projects-section .projects,
    section .prices{
        grid-template-columns: repeat(2, 1fr);
    } 
    footer{
        grid-template-columns: 1fr 200px;
    }
}
@media(width < 600px){
    header .image img{
        max-width: 300px;
    }
    header .image::before{
        font-size: 17rem;
    }
    .featuring .features,
    .projects-section .projects,
    section .prices{
        grid-template-columns: 1fr;
    }
    footer{
        grid-template-columns: 1fr 140px;
    }
}