@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Changa+One&display=swap');

$primary: #DE9151;
$primary-dark: #BC5D2E;
$white: #FFFECB; //Gray #BBB8B2
$filler: #E74C3C;

// Global
* {
  font-family: 'Allerta', sans-serif;
  box-sizing: border-box;
}

h1,h2,h3,h4{
  font-family: 'Changa One', cursive;
  font-weight: normal;
  color: #FFFECB;
  text-shadow: 2px 2px 5px #000000;
}

.linkColor{
  color: #BBB8B2;
}

a.linkColor:hover{
  color: #E74C3C;
}

.centerText{
text-align: center;
}

body {
  margin: 0;
  background: #2E2E3A;
}

.logo{
 margin-top: 20px;
 width: 100px;
 height: 100px;
 float: left; 
}

.iconImage{
  width: 70px;
  height: 70px;
  padding: 2px;
}

// Page Layout
.flex-page {
  position: absolute;
  display: flex;
  height: 100%;
  overflow: hidden;
  background: #2E2E3A;
}

.flex-page::-webkit-scrollbar {
  display: none;
}

// Side Navigation
.side-nav {
  background: #BC5D2E;
  padding-top: 1.5rem;
}

.side-nav ul {
  margin: 0;
  padding: 0;
}

.side-nav ul li a {
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
  
  &:hover {
    background: #DE9151;
  }
  
  &:focus {
    background: #DE9151;
  }
}

//TOP NAV

ul.topNav {
  list-style-type: none;
  padding: 0;
  background-color: #BC5D2E;
  text-align: center;
  overflow: hidden;
  margin-left: auto;
}

 a.topNavItem {
  display: block;
  color: #FFFECB;
  //text-shadow: 2px 2px 5px #000000;
  padding: 8px 16px;
  text-decoration: none;
}

.topNavItem a:hover.topNavItem {
  background-color: #DE9151;
  color: white;
  text-decoration: none;
}

// Content
.content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

//POPUP CSS

#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  background: #BBB8B2;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}

#popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-left: -250px; /*Half the value of width to center div*/
  margin-top: -250px; /*Half the value of height to center div*/
  z-index: 200;
  border: 1px solid black;
  background: #DE9151;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #333;
  padding: 10px;
}

#popupClose {
  float: right;
  padding: 10px;
  color: #FFFECB;
  cursor: pointer;
}

.popupContent {
  padding: 10px;
  text-align: center;
}

#popupButton {
  cursor: pointer;
  border-radius: 10px;
  background-color: $primary-dark;
  font-size: 18px;
  float: right;  
  width: 200px; 
  height: 50px; 
  margin-right: 30px; 
  border-color: #FFFECB;
}

// CARD CSS

.defaultCard{
  border: 1px solid #BBB8B2;
  margin: auto;
  background-color: #DE9151;
  background: #DE9151;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(112, 111, 108);
  padding: 10px;
}

.cardImage{
  border: 1px solid #BBB8B2;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(112, 111, 108);
}

.cardText{
  text-shadow: .2px .2px 1px #FFFECB;
}

.headerCard{
  width: 100%;
}

.displayCard{
  height: 300px;
  //background-attachment: fixed;
  background-position: center top; 
  background-size: cover;
}

.displayText{
  color: #FFFECB;
  text-shadow: 2px 2px 5px #000000;
}

.displayLine{
  color: #FFFECB;
  background-color: #FFFECB;
  width: 50%;
  height: 4px;
}

.displayLine{
  color: #FFFECB;
  background-color: #FFFECB;
  width: 50%;
  height: 4px;
}

.titleLine{
  color: #FFFECB;
  background-color: #FFFECB;
  width: 70%;
  height: 4px;
}

.floatRight{
  float: right;
}

.floatLeft{
  float: left;
}

.alignedList{
  text-align: center;
  list-style-position: inside;
}